@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* CSS * Selector, Select all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Navbar Styling*/
.navbar {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 999;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 2px 0;
  background-color: crimson;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  font-family: "Pacifico";
  transition: all 0.3s ease;
}

.navbar .logo a span {
  color: crimson;
}
.navbar.sticky .logo a span {
  color: white;
}
.navbar.sticky .logo a:hover,
.navbar.sticky .logo a span:hover {
  color: black;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  color: #fff;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu li a:hover {
  color: #000;
}

/* Menu Button Styling */
.menu-btn {
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Scroll button styling */
.scroll-up-btn {
  position: fixed;
  height: 50px;
  width: 47px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  z-index: 999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  opacity: 1;
  pointer-events: auto;
  bottom: 30px;
}

/* Fade In & Fade Out Elements on Scroll Start */
.fadein {
  opacity: 0.5;
}
.showme {
  transition: opacity 0.1s ease;
  opacity: 1 !important;
}

/* Home Section Styling */
.home {
  display: flex;
  background: url(images/bannernew.jpg) no-repeat center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  font-weight: 500;
  color: crimson;
}
.home .home-content a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 8px 20px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.home .home-content .web {
  margin-right: 25px;
}

.home .home-content a:hover {
  color: white;
  background: #000;
}

/* all similar content styling code */
section {
  padding: 100px 0;
}
.about,
.skills,
.projects,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  padding: 5px;
  font-size: 20px;
  color: crimson;
  background: #fff;
  transform: translateX(-50%);
}

.skills,
.contact {
  background: #111;
  color: #fff;
}
.skills .title::before,
.contact .title::before {
  background: #fff;
}

/* about section styling */
.about .title::after {
  content: "who am i";
}

.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 40px 0px 40px 0px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: crimson;
}
.about .about-content .right p {
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 1px;
}
.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 3px 25px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: crimson;
  background: none;
}

/* Social media section styling */
.button1 {
  float: left;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border-radius: 35px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.button1 .icon {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 35px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.button1 .icon i {
  font-size: 18px;
  line-height: 45px;
  color: crimson;
  transition: all 0.3s ease-in-out;
}
.button1:hover {
  width: 150px;
}
.button1:hover i {
  color: #fff;
}
.button1 span {
  font-size: 15px;
  font-weight: 500;
  line-height: 10px;
  margin-left: 5px;
}

.button1:nth-child(1):hover .icon {
  background: #e1306c;
}

.button1:nth-child(2):hover .icon {
  background: #4267b2;
}

.button1:nth-child(3):hover .icon {
  background: #1da1f2;
}

.button1:nth-child(4):hover .icon {
  background: #1da1f2;
}

.button1:nth-child(5):hover .icon {
  background: #1da1f2;
}

.button1:nth-child(6):hover .icon {
  background: #333;
}
.button1:nth-child(7):hover .icon {
  background: #1da1f2;
}
.button1:nth-child(1) span a {
  color: #e1306c;
}

.button1:nth-child(2) span a {
  color: #4267b2;
}

.button1:nth-child(3) span a {
  color: #1da1f2;
}

.button1:nth-child(4) span a {
  color: #1da1f2;
}

.button1:nth-child(5) span a {
  color: #1da1f2;
}

.button1:nth-child(6) span a {
  color: #333;
}
.button1:nth-child(7) span a {
  color: #1da1f2;
}


/*Education Section Styling*/
.education-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.education-entry {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  width: calc(50% - 40px); /* Adjust the width as needed */
  box-sizing: border-box;
}

.education-entry h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.education-entry p {
  color: #666;
  margin-bottom: 5px;
}

/* Skills section styling */
.skills .title::after {
  background: #111;
  content: "Skills";
}
.skills .skills-content .column {
  width: 100%; /* Adjust as needed for your design */
}

.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .left .horizontal-skills {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.skills .skills-content .left .horizontal-skills li {
  font-size: 16px;
  margin-right: 20px;
  margin-bottom: 6px;
}

.skills .skills-content .left a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.skills .skills-content .left a:hover {
  color: crimson;
  background: #fff;
  border: 2px solid crimson;
}

/* Skill bars styling */
.skills .skills-content .right .info {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .right .info span {
  font-weight: bold;
}

.skills .skills-content .right .info img {
  padding: 0 10px;
  max-width: 30px; /* Adjust the width as needed */
  height: auto;
}

.skills .skills-content .right .line {
  background: #f0f0f0;
  height: 10px;
  border-radius: 6px;
  position: relative;
}

.skills .skills-content .right .line:before {
  content: "";
  background: crimson;
  height: 100%;
  width: 90%; /* Adjust the skill level (percentage) */
  border-radius: 6px;
  position: absolute;
}

/* Adjust skill level percentages as needed */
.skills .skills-content .right .line.python:before {
  width: 90%; /* Python skill level */
}

.skills .skills-content .right .line.javascript:before {
  width: 80%; /* JavaScript skill level */
}

.skills .skills-content .right .line.ccpp:before {
  width: 70%; /* C/C++ skill level */
}

.skills .skills-content .right .line.mysql:before {
  width: 80%; /* MySQL skill level */
}

.skills .skills-content .right .line.node:before {
  width: 75%; /* Node.js skill level */
}

/* Education Section Styling */
.education {
  background-color: #f9f9f9;
  padding: 80px 0;
  text-align: center;
}

.education .title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #333;
}

.education .education-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.education .education-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease-in-out;
  width: calc(33.33% - 20px); /* Adjust based on your layout */
}

.education .education-content:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.education .education-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.education .education-date {
  font-size: 20px;
  color: #777;
}

.education .education-description {
  font-size: 20px;
  line-height: 1.5;
  color: #555;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .education .education-item {
    flex-direction: column;
    align-items: center;
  }

  .education .education-content {
    width: 100%;
    margin-bottom: 20px;
  }
}


/* Project section styling */
.projects .project-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px;
}

.projects .project-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Allow horizontal scrolling */
  margin-top: 20px;
}

.projects .project-card {
  width: 300px;
  margin-right: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.projects .project-card:last-child {
  margin-right: 0;
}

.projects .project-card:hover {
  transform: translateY(-5px);
}

.projects .project-image {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.projects .project-image img {
  width: 100%;
  height: auto;
}

.projects .project-info {
  padding: 20px;
}

.projects .project-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.projects .project-description {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.projects .project-link {
  text-decoration: none;
  color: #007bff;
  font-weight: 600;
  transition: color 0.3s ease;
}

.projects .project-link:hover {
  color: #0056b3;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .projects .project-card {
    width: 90%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .projects .project-container {
    flex-wrap: wrap;
  }
}

/*Github Button styling*/
.button-icon {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: #ff98a2;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: #ff98a2;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}

.view-more-projects-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px auto; 
  padding: 10px 20px; 
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  text-decoration: none; 
  transition: background-color 0.3s ease; 
}


/* Hover effect */
.view-more-projects-button:hover {
  background-color: #0056b3;
}


/* UI/UX Design Projects section styling */

.ui-ux-projects .subtitle {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.ui-ux-projects .subtitle.fadein {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

/* Define the fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ui-ux-projects .project-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  margin-top: 20px;
}

.ui-ux-projects .project-card {
  width: 300px;
  margin-right: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.ui-ux-projects .project-card:last-child {
  margin-right: 0;
}

.ui-ux-projects .project-card:hover {
  transform: translateY(-5px);
}

.ui-ux-projects .project-image {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.ui-ux-projects .project-image img {
  width: 100%;
  height: auto;
}

.ui-ux-projects .project-info {
  padding: 20px;
}

.ui-ux-projects .project-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ui-ux-projects .project-description {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.ui-ux-projects .project-link {
  text-decoration: none;
  color: #007bff;
  font-weight: 600;
  transition: color 0.3s ease;
}

.ui-ux-projects .project-link:hover {
  color: #0056b3;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .ui-ux-projects .project-card {
    width: 90%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .ui-ux-projects .project-container {
    flex-wrap: wrap;
  }
}

/* Center the button horizontally and vertically */
.view-more-projects-button.ui-ux {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px auto; 
  padding: 10px 20px; 
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px; 
  text-decoration: none; 
  transition: background-color 0.3s ease; 
}

/* Hover effect - change background color on hover */
.view-more-projects-button.ui-ux:hover {
  background-color: #0056b3;
}

.ui-ux-projects .call-to-action {
  text-align: center;
  max-width: 800px;
  margin: 20px auto; 
  font-size: 16px;
  line-height: 1.5;
  color: #555; 
}

.ui-ux-projects .call-to-action.fadein {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

/* Define the fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Certifications section styling */
.certifications {
  background: #f9f9f9;
  padding: 100px 0;
  font-family: "Poppins", sans-serif;
}

.certifications .title::after {
  content: "my certifications";
  background: #f0eded;
}

.certifications .max-width {
  margin: auto;
}

.certifications .certification-item {
  background: #fff; 
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.certifications .certification-item h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #111;
}

.certifications .certification-item p {
  font-size: 14px;
  color: #777; 
}



/* contact section styling */
.contact .title::after {
  background: #111;
  content: "get in touch";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .left .text {
  margin-top: 20px;
}
.contact .contact-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .text1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: crimson;
}
.contact .contact-content .row .email-icon {
  margin-left: -7px;
}
.contact .contact-content .row .info {
  margin-left: 30px;
  justify-content: left;
  float: left;
}
.contact .contact-content .info .head {
  font-weight: 600;
}
.contact .contact-content .info .sub-title {
  color: #fff;
}
.contact .right .text {
  padding-bottom: 10px;
  font-weight: 600;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .fields,
.contact .right form .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .textarea {
  height: 160px;
  width: 100%;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
}
.contact .right form .button {
  height: 47px;
  width: 220px;
}
.contact .right form .button button {
  height: 100%;
  width: 100%;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.contact .right form .button button:hover {
  color: #fff;
  background: none;
}

/* footer section styling */
footer {
  background: #fff;
  padding: 20px 23px;
  color: #000;
  text-align: center;
}
footer span a {
  color: crimson;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 40px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 72px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 22px;
    padding: 6px 24px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left .wrapper {
    margin: 0 auto 10px;
  }
  .about .about-content .right {
    flex: 100%;
    margin-top: 30px;
  }

  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .contact .left .text {
    margin-top: 0px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .about .about-content .right .text .break {
    display: block;
  }
}

@media (max-width: 500px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .projects .carousel .card {
    margin-top: 10px;
    padding: 10px 15px;
  }
  .projects .carousel .card img {
    height: 180px;
    width: 200px;
  }
}

@media (max-width: 380px) {
  .about .about-content .left img {
    height: 250px;
    width: 250px;
  }
}
